<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Principal.Properties.Settings.PAV_3K2_10_AEROLINEAConnectionString"
            connectionString="Data Source=200.69.137.167,11333;Initial Catalog=PAV-3K2-10-AEROLINEA;Persist Security Info=True;User ID=PAV-3K2-10-USER;Password=77edc00a99fe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
